<form class="login-form container text-white">
  
  <div class="form-group row">
    <div class="col-6">
      <h2 class="text-white m-5">To <span class="text-success">SIGN IN</span>, Fill out form below</h1>
      <label class="mt-2">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-login"
        placeholder="Enter email"
      />

      <label class="mt-2">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-login"
        placeholder="Password"
      />

      <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </div>
  </div>
</form>
<form class="container text-white register-form">
  <div class="form-group row">
    <div class="col-6">

      <h2 class="text-white m-5">To <span class="text-warning">REGISTER</span>, Fill out form below</h1>
      
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-register"
        placeholder="Enter email"
      />

      <label class="mt-2" for="exampleInputUsername1">Username</label class="mt-2">
      <input
        type="username"
        class="form-control"
        id="username-register"
        placeholder="Username"
      />

      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-register"
        placeholder="Password"
      />

      <button type="submit" class="btn btn-primary mt-3">Submit</button>

    </div>
</form>

<script src="/javascript/login.js"></script>